<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

         <link id="shortcutIcon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Alyamamateen meeting."
        />
        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Tabbaby " />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
         />
        <meta property="og:image" content="https://p2p.mirotalk.com/images/preview.png" />
        <meta property="og:url" content="https://p2p.mirotalk.com" />

        <!-- xss -->

        <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- Snow effects -->

        <link rel="stylesheet" href="../css/snow.css" />
        <script defer src="../js/snow.js"></script>

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>
    </head>
    <body class="has-animations">
        <div id="snow-container"></div>
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/">
                                    <img src="../images/logo.png" alt="MiroTalk P2P" width="60" height="60" />
                                    <!-- <img
                                        src="../images/logo.png"
                                        alt="MiroTalk P2P"
                                        width="96"
                                        height="auto"
                                        style="margin-top: 80px"
                                    /> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content">
                <section class="hero section illustration-section-01">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h1
                                             class="mt-32 mb-16 reveal-from-bottom"
                                            data-reveal-delay="150"
                                        >

                                            Alyamamateen<br />Appels vidéo en temps réel gratuits basés sur le navigateur.
Simple, sécurisé, rapide.
                                        </h1>
                                        <p
                                            id="appDescription"
                                            class="mt-0 mb-32 reveal-from-bottom"
                                            data-reveal-delay="300"
                                        >
                                           Commencez votre prochain appel vidéo en un seul clic. Aucun téléchargement, plugin ou connexion requis. Allez directement à la conversation, à l'envoi de messages et au partage d'écran.
                                        </p>
                                    </div>
                                    <style>
                                        @media (min-width: 641px) {
                                            .hero .split-wrap .split-item {
                                                min-height: 492px;
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cta section center-content-mobile reveal-from-bottom mb-32">
                    <div class="container">
                        <div class="cta-inner section-inner cta-split br-12">
                            <div class="cta-slogan">
                                <h3 class="m-0">
                                    Choisissez un nom de salle.



.<br />
                                    Que diriez-vous de celui-ci ?




                                </h3>
                            </div>
                            <div class="cta-action">
                                <div class="mb-0">
                                    <label class="form-label screen-reader" for="roomName">Tabbai Academy meet</label>
                                    <div class="form-group-desktop">
                                        <input
                                            id="roomName"
                                            class="form-input"
                                            type="text"
                                            value="mirotalk"
                                            maxlength="32"
                                        />
                                        <button
                                            id="genRoomButton"
                                            class="button button-primary br-6 mr-8 mb-8 fas fa-arrows-rotate"
                                        ></button>
                                        <button id="joinRoomButton" class="button button-primary br-6 pulse">
Rejoindre                                         </button>
                                    </div>
                                </div>
                                <div id="lastRoomContainer" class="last-room">
                                    <span>Votre salle :</span>
                                    <a id="lastRoom"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="features" class="features-tiles section center-content mt-32">
                    <div class="container">
                        <div class="features-tiles-inner section-inner has-top-divider">
                            <div class="section-header">
                                <div class="container-xs reveal-from-bottom" data-reveal-delay="650">
                                    <h2 class="mt-0 mb-16">
Nombre illimité de salles de conférence sans limite de durée d'appel.



                                    </h2>
                                    <p class="m-0">
Nous avons abandonné les serveurs lents et encombrants, en optant pour des appels en peer-to-peer. Nous avons conçu une plateforme offrant une qualité vidéo maximale et une latence minimale, pour que vos appels soient d'une bonne clarté .



                                    </p>
                                </div>
                            </div>

                            <div class="tiles-wrap">
                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    class="wh-200-150"
                                                    src="../svg/screenSharing.svg"
                                                    alt="Screen Sharing"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Partage d'écran

</h4>
                                            <p class="m-0 text-sm">
                                                Partagez votre écran, votre fenêtre d'application, présentez vos documents, diapositives et bien plus encore. Résolution jusqu'à 8k et vitesse allant jusqu'à 60 fps.




                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    class="wh-200-150"
                                                    src="../svg/webcamStreaming.svg"
                                                    alt="WebCam Streaming"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">WebCam Streaming</h4>
                                            <p class="m-0 text-sm">
                                                Avoir la webcam activée permet aux participants de créer une connexion plus profonde avec vous. Résolution jusqu'à 8k et vitesse allant jusqu'à 60 fps.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img class="wh-200-150" src="../svg/webcamChat.svg" alt="Chat Room" />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Chat Room</h4>
                                            <p class="m-0 text-sm">
                                                Discutez avec les autres participants à la réunion, en chat public ou privé, et enregistrez les messages de la réunion. Un sélecteur d'emojis intégré pour exprimer vos émotions.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    class="wh-200-150"
                                                    src="../svg/recordingMeeting.svg"
                                                    alt="Meeting Recording"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Meeting Recording</h4>
                                            <p class="m-0 text-sm">
                                                Enregistrez votre écran, votre webcam et votre audio. Sauvegardez-les pour les utiliser à l'avenir ou les partager avec d'autres.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    class="wh-200-150"
                                                    src="../svg/interactiveWhitboard.svg"
                                                    alt="Interactive Whiteboard"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Tableau blanc interactif



</h4>
                                            <p class="m-0 text-sm">
                                                Tableau blanc collaboratif avancé pour dessiner et expliquer vos concepts aux autres participants de la réunion.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    class="wh-200-150"
                                                    src="../svg/fileSharing.svg"
                                                    alt="File Sharing"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Partage de fichiers

</h4>
                                            <p class="m-0 text-sm">
                                                Partagez tous types de fichiers avec les participants de la réunion, en toute sécurité, grâce à la sécurité de la couche de transport de datagrammes (DTLS).




                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img class="wh-200-150" src="../svg/chatgpt.svg" alt="ChatGPT" />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">ChatGPT</h4>
                                            <p class="m-0 text-sm">
											ChatGPT pour répondre aux questions, fournir des informations et connecter les utilisateurs aux ressources pertinentes.




                                             </p>
                                        </div>
                                    </div>
                                </div>

                          

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    class="wh-200-150"
                                                    src="../svg/totalPrivacy.svg"
                                                    alt="Total Privacy"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Confidentialité totale
</h4>
                                            <p class="m-0 text-sm">
Les données restent entre vous et vos participants. MiroTalk ne collecte ni ne partage d'informations personnelles. Il est conçu pour la confidentialité avant tout.



                                            </p>
                                        </div>
                                    </div>
                                </div>

                                 
                </section>

                <section id="browsers" class="team section center-content">
                    <div class="container">
                        <div class="team-inner section-inner has-top-divider">
                            <div class="section-header center-content reveal-from-bottom">
                                <div class="container-xs">
                                    <h2 class="mt-0 mb-16">Navigateurs supportés



</h2>
                                </div>
                            </div>
                            <div class="tiles-wrap">
                                <div class="tiles-item reveal-from-bottom">
                                    <div class="tiles-item-inner">
                                        <div class="team-item-header">
                                            <div class="team-item-image mb-24">
                                                <img
                                                    src="../images/browsers.png"
                                                    alt="Supported Browsers"
                                                    width="auto"
                                                    height="auto"
                                                />
                                            </div>
                                        </div>
                                        <div class="team-item-content">
                                            <h5 class="team-item-name mt-0 mb-4">
Chrome, Edge, Firefox, Opera, Safari, Brave et plus encore.



                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

 
                <section id="tryEasier" class="section">
                    <div class="container">
                        <div class="section-inner has-top-divider">
                            <div class="container-xs">
                                <div class="section-header center-content">
                                    <h2 class="m-0">Essayez une méthode d'appel plus simple et plus sécurisée.



.</h2>
                                </div>
                                <div class="center-content">
                                    <a class="button button-custom button-wide-mobile br-6 pulse" href="/newcall"
                                        >Essayez maintenant</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

 
            <footer id="footer" class="site-footer center-content-mobile">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="footer-top space-between text-xxs">
                            <div class="brand">
                             </div>
                            
                         </div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/brand.js"></script>
        <script defer src="../js/landing.js"></script>
        <script defer src="../js/common.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
